.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}


.modal {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(1px);
    /* Aplica o efeito de desfoque */
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: -5rem;
    margin-top: 9.375rem;
    min-width: 18rem;
    min-height: 75%;
    max-width: 37.5rem;
    overflow: hidden;
    position: relative;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .51);
    border-radius: 1rem;
}

.modal-content .header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 2rem 1rem 0rem 1rem;
}

.modal-content .top {
    position: relative;
    min-height: 40%;

}

.modal-content .bottom {
    position: relative;
    min-height: 60%;
    border-radius: 1rem;
    background-color: white;
}

.modal-basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 1rem;
}


.modal-content .detail .types {
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
    width: 100%;
    top: 5px;
}

.modal-content .detail .types li {
    margin: .1rem;
}



#main-image {
    position: absolute;
    bottom: -.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    z-index: 1;
}

#modalBody {
    align-self: flex-end;
    font-size: .8rem;
}

.hidde {
    display: none;
}

.tabs {
    justify-content: space-around;
    margin: 2rem 1rem;
}

.tab {
    display: inline;
    color: rgba(0, 0, 0, .51);
    border: none;
    cursor: pointer;
}

.tab.active {
    position: relative;
    font-weight: 500;
    color: rgba(0, 0, 0);

}

.tab::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: .1rem;
    background-color: rgba(56, 53, 197, 0.8);
    border-radius: 0 0 5px 5px;
    display: none;
}


.tab.active::after {
    display: block;
}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}